.imgDark {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .imgLight {
        display: none;
        cursor: pointer;
    }

    .imgDark {
        display: unset;
        cursor: pointer;
    }
}
